// Movie Page
.movie {
    display: grid;
    grid-template-rows: 10px 30px 600px 50px min-content 20px 281px 1fr;
    grid-template-columns: 1fr minmax(30px, 1fr) minmax(450px, 500px) minmax(320px, 10fr) 170px minmax(30px, 2fr) minmax(8px, 2fr);
    grid-template-areas:
        "... .... ..... .... .... .... ...."
        "... .... postr .... .... .... ...."
        "... .... postr info info .... ...."
        "... .... postr rate coll .... ...."
        "... .... postr .... coll .... ...."
        "... .... ..... .... coll .... ...."
        "... .... video .... coll .... ...."
        "... .... ..... .... .... .... ...."
    ;

    .backdrop {
        grid-column: 4 / -2;
        grid-row: 3 / 4;

        height: 100%;
        width: 100%;
        border-radius: 0 24px 24px 0;
        object-fit: cover;
        z-index: -1;
    }

    .color-overlay {
        grid-column: 2 / -2;
        grid-row: 3 / 4;

        border-radius: 24px;
        background: linear-gradient(to right,
                var(--md-sys-color-primary) 500px,
                transparent 100%);
        @state-color: var(--md-sys-color-primary);
        .state-layer();
        z-index: -1;

        &::before {
            opacity: 0.9;
        }
    }

    .poster {
        grid-area: postr;

        width: 100%;
        border-radius: 24px;
        .elevation-level2();
        z-index: 1;
    }



    .info {
        grid-area: info;

        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        color: var(--md-sys-color-on-primary);

        div {
            display: flex;
            flex-direction: column;
        }

        .title {
            .display-large();
            line-height: 0.6;

            span {
                .display-small();
                opacity: 0.1;
            }
        }

        .tagline {
            .headline-small();
            font-style: italic;
        }

        .overview,
        .release_date,
        .budget,
        .revenue {
            .body-large();
            line-height: 1;
            margin-left: 12px;
            gap: 3px;

            span {
                .label-medium();
                margin-left: -12px;
            }
        }

    }

    .rating-container {
        grid-area: rate;
        margin: 0 0 0 16px;
        display: flex;
        align-items: flex-end;
        gap: 8px;

        span {
            .label-large();
            margin-bottom: 24px;
            color: var(--md-sys-color-on-surface-variant);
            opacity: 0.5;
        }

        .rating {
            filter: drop-shadow(0px 1px 2px rgb(0 0 0 / 60%))
        }

        .rating-text {
            font-family: 'Oxygen', sans-serif;
            font-size: 34px;
            font-weight: 700;
            fill: white;
        }
    }

    .collection {
        grid-area: coll;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-top: -50px;

        img {
            width: 170px;
            height: 255px;
            border-radius: 8px;
            .elevation-level1();
        }

        div {
            .label-large();
            text-align: center;
            line-height: 0.9;
            color: var(--md-sys-color-on-surface-variant);
        }
    }

    .video {
        grid-area: video;

        iframe {
            border: 0;
            border-radius: 24px;
            width: 100%;
            aspect-ratio: 16 / 9;
            .elevation-level2();
        }
    }
}