.collection {
    grid-area: collct;
    position: relative;

    width: 100%;
    height: 300px;
    overflow: hidden;
    padding-right: calc(3% - 24px);
    z-index: 1;

    transition: opacity 0.2s ease-in;

    display: flex;
    justify-content: flex-end;

    .collection-prev-btn,
    .collection-next-btn {
        width: 50px;
        height: 50px;
        margin: 92px 0 0;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        overflow: hidden;
        transition: opacity 0.2s ease-in-out;

        color: var(--md-sys-color-on-primary);
        filter: drop-shadow(0px 1px 2px rgb(0 0 0 / 50%));
        font-size: 80px;
        opacity: 0.8;
        z-index: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            opacity: 1;
            filter: drop-shadow(0px 1px 3px rgb(0 0 0 / 60%));
        }

        &:active {
            transition: all 0.05s ease-in-out;
            opacity: 1;
            filter: drop-shadow(0px 1px 2px rgb(0 0 0 / 50%));
        }

        &.swiper-button-disabled {
            opacity: 0.2;
            filter: none;
            cursor: auto;
            pointer-events: none;
        }

        &.swiper-button-lock,
        &.swiper-button-hidden {
            opacity: 0;
            cursor: auto;
            pointer-events: none;
        }
    }

    .collection-overlay,
    .collection-backdrop {
        inset: 16px 0 auto;
        height: 200px;
        border-radius: 24px;
    }

    .collection-backdrop {
        position: absolute;
        width: 50%;
        min-width: 500px;
        object-fit: cover;
        z-index: -1;
    }

    .collection-overlay {
        @state-color: var(--md-sys-color-primary);
        .state-layer();

        position: absolute;
        background: linear-gradient(to right,
                transparent 0%,
                var(--md-sys-color-primary) 50%);

        display: flex;
        align-items: flex-end;
        padding: 20px 30px;

        &::before {
            opacity: 0.5;
        }

        div {
            .display-small();
            color: var(--md-sys-color-on-primary);
            opacity: 0.8;
            text-shadow: 0px 1px 2px rgb(0 0 0 / 50%);
            max-width: 400px;
            line-height: 0.9;
        }
    }

    .card {
        display: grid;
        grid: 225px 30px min-content / 50px 100px;
        margin: 0 4px;
        z-index: 1;

        img {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            box-shadow:
                0px 1px 2px rgba(0, 0, 0, 0.15),
                0px 1px 3px 1px rgba(0, 0, 0, 0.1);
        }

        svg {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            justify-self: center;
            align-self: end;
            filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));

            &.low-votes {
                filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.4)) grayscale(1);
            }
        }

        .rating-text {
            font-size: 16px;
        }

        .title {
            overflow: hidden;
            display: flex;
            flex-direction: column;

            span:nth-child(1) {
                .body-medium();
                line-height: 0.9;
                color: var(--md-sys-color-on-surface);
            }
        }

        .title {
            grid-column: 2 / -1;
            grid-row: 2 / 4;
            padding: 4px 2px;
            gap: 5px;
        }
    }

    .swiper {
        margin: unset;
        width: 316px;

        @media (min-width: (1136px)) {
            width: 474px;
        }

        .swiper-wrapper {
            width: min-content;
            margin: auto 0 0 auto;
            padding: 4px 0;
        }

        each(range(8), {
            @media (min-width: ((@value + 2) * 158px + 820px)) {
                width: ((@value + 2) * 158px);
            }
        })
}
}

.collection-skeleton {
    grid-area: collct;
    position: relative;
    height: 300px;
    padding: 4px calc(3% + 26px) 4px 0;

    fill: url(#gradient);
    opacity: 0.6;

    display: flex;
    justify-content: flex-end;

    div {
        &>svg {
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
        }

        &>svg>rect {
            width: 100%;
            height: 100%;
        }
    }

    div:first-child {
        position: absolute;
        inset: 16px calc(3% + 344px) auto 0;
        height: 200px;
        clip-path: inset(0 round 24px 0 0 24px);

    }

    div:last-child {
        position: absolute;
        inset: 16px 0 auto auto;
        width: calc(3% + 24px);
        height: 200px;
        clip-path: inset(0 round 0 24px 24px 0);

    }

    .collection-card {
        width: 150px;
        height: 288px;
        clip-path: path("M133,246H56c-2.2,0-4-1.8-4-4v-9c0-2.2,1.8-4,4-4h77c2.2,0,4,1.8,4,4v9C137,244.2,135.2,246,133,246z M25,211 c-12.2,0-22,9.8-22,22s9.8,22,22,22s22-9.8,22-22S37.2,211,25,211z M138,0H12C5.4,0,0,5.4,0,12v201c0,2.7,0.9,5.2,2.4,7.2 C6.9,212.3,15.3,207,25,207c11.6,0,21.4,7.6,24.7,18H138c6.6,0,12-5.4,12-12V12C150,5.4,144.6,0,138,0z");
        margin: 0 4px;
    }
}