.crew {
    grid-area: autors;
    position: relative;

    display: flex;
    gap: 32px;
    padding: 12px 0 8px 8%;

    opacity: 1;
    transition: opacity 0.2s ease-in;

    &:hover div span:last-child a {
        opacity: 0.5
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 4px;

        span:first-child {
            .label-medium();
            color: var(--md-sys-color-primary);
            opacity: 0.5;
        }

        span:last-child {

            a {
                .body-large();
                line-height: 1;
                color: var(--md-sys-color-on-surface);
                // opacity: 0.8;
                transition: opacity 0.1s ease-in-out;

                &:hover {
                    opacity: 1;
                }

                &:nth-child(n+2)::before {
                    content: ', ';
                }

            }
        }
    }
}

.cast {
    grid-area: actors;
    position: relative;

    width: min-content;
    z-index: 1;

    opacity: 1;
    transition: opacity 0.2s ease-in;

    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 24px;

    .cast-prev-btn,
    .cast-next-btn {
        width: 50px;
        height: 50px;
        margin: 70px 0;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.2s ease-in-out;

        color: var(--md-sys-color-primary);
        filter: drop-shadow(0px 1px 2px rgb(0 0 0 / 50%));
        font-size: 80px;
        opacity: 0.7;
        z-index: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            filter: drop-shadow(0px 1px 3px rgb(0 0 0 / 60%));
        }

        &:active {
            transition: all 0.05s ease-in-out;
            opacity: 0.8;
            filter: drop-shadow(0px 1px 2px rgb(0 0 0 / 50%));
        }

        &.swiper-button-disabled {
            opacity: 0.1;
            filter: none;
            cursor: auto;
            pointer-events: none;
        }

        &.swiper-button-lock,
        &.swiper-button-hidden {
            opacity: 0;
            cursor: auto;
            pointer-events: none;
        }
    }

    .card {
        display: grid;
        grid: 180px min-content / 120px;
        // height: calc(100% - 8px);
        height: 255px;
        margin: 0 4px;
        z-index: 1;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            inset: -4px;
            border-radius: 14px;
            background-color: var(--md-sys-color-primary);
            opacity: 0;
            transition: all 0.2s ease-in-out;
        }

        &:hover::before {
            opacity: 0.08;
        }

        img {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            box-shadow:
                0px 1px 2px rgba(0, 0, 0, 0.15),
                0px 1px 3px 1px rgba(0, 0, 0, 0.1);
        }

        .name {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            padding: 4px;
            gap: 4px;

            overflow: hidden;
            display: flex;
            flex-direction: column;

            span:first-child {
                .body-medium();
                line-height: 0.9;
                color: var(--md-sys-color-on-surface);
            }

            span:last-child {
                .label-large();
                line-height: 0.7;
                color: var(--md-sys-color-primary);
                opacity: 0.5;
            }
        }
    }

    .swiper {
        margin: unset;
        width: 256px;

        .swiper-wrapper {
            width: min-content;
            margin: auto 0 auto;
            padding: 4px 0;
        }

        @media (min-width: (1076px)) {
            width: 256px;
        }

        each(range(8), {
            @media (min-width: ((@value + 2) * 128px + 820px)) {
                width: ((@value + 2) * 128px);
            }
        })
}
}

// Loading skeleton --------------------------------------------------------------
.cast-skeleton {
    grid-area: actors;

    overflow: hidden;
    opacity: 0.6;

    display: grid;
    grid: 1fr / repeat(10, 128px);
    margin: 0 0 0 74px;
    padding: 4px 0;

    fill: url(#gradient);

    .skeleton-cast-card {
        width: 120px;
        height: 255px;
        clip-path: path("M108,180H12c-6.6,0-12-5.4-12-12V12C0,5.4,5.4,0,12,0h96c6.6,0,12,5.4,12,12v156C120,174.6,114.6,180,108,180z M116, 193v-6c0-2.2-1.8-4-4-4H8c-2.2, 0-4, 1.8-4, 4v6c0, 2.2, 1.8, 4, 4, 4h104C114.2, 197, 116, 195.2, 116, 193z M63, 209v-6c0-2.2-1.8-4-4-4 H8c-2.2, 0-4, 1.8-4, 4v6c0, 2.2, 1.8, 4, 4, 4h51C61.2, 213, 63, 211.2, 63, 209z");
        margin: 0 4px;

        &>svg {
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
        }

        &>svg>rect {
            width: 100%;
            height: 100%;
        }
    }

    width: 256px;

    @media (min-width: (1076px)) {
        width: 256px;
    }

    each(range(8), {
        @media (min-width: ((@value + 2) * 128px + 820px)) {
            width: ((@value + 2) * 128px);
        }

    })
}

.crew-skeleton {
    grid-area: autors;
    display: flex;
    gap: 32px;
    padding: 12px 0 8px 8%;

    opacity: 0.6;
    fill: url(#gradient);

    div {
        display: flex;
        flex-direction: column;
        gap: 4px;

        div {
            clip-path: inset(0 round 4px);

            &>svg {
                width: 100vw;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
            }

            &>svg>rect {
                width: 100%;
                height: 100%;
            }
        }

        div:first-child {
            width: 60px;
            height: 14px;
        }

        div:last-child {
            width: 120px;
            height: 18px;
        }
    }
}