header {
    .tabs {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        height: 48px;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        justify-items: center;
        border-bottom: 1px solid var(--md-sys-color-surface-variant);
        z-index: 1;

        a {
            color: var(--md-sys-color-on-surface-variant);
            .title-small();
            text-decoration: none;
            position: relative;
            display: flex;
            align-items: center;
        }

        a.tab-active {
            color: var(--md-sys-color-primary);

            &::before {
                content: '';
                position: absolute;
                background: var(--md-sys-color-primary);
                height: 3px;
                border-radius: 3px 3px 0 0;
                width: 100%;
                bottom: 0;
            }
        }
    }
}