* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: none;
}

.icons-hidden .material-symbols-rounded {
    opacity: 0;
    width: 0;
    transition: opacity 0.2s ease-in, width 0.2s linear;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--md-sys-color-primary-container);
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

body {
    margin: 0;
    padding: 0 16px 0 0;
    overflow: overlay;
    background: var(--md-sys-color-background);
    // display: grid;
    // grid-template-columns: 80px 1fr;
    // grid-auto-rows: min-content;
}

#root {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-auto-rows: min-content;
}

.cpi {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: var(--md-sys-color-primary);
    z-index: 100;
}

/* Layout -------------------------------------------------------------------------------------------------------------------------- */
nav {
    .m3-navigation-rail()
}

.logo {
    position: fixed;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    svg {
        width: 65px;
    }
}

header {
    position: fixed;
    top: 0px;
    right: 16px;
    left: 80px;
    height: 64px;
    display: grid;
    grid: 64px / 1fr;
    align-items: center;
    padding-left: 32px;
    backdrop-filter: blur(5px);

    &>.overlay {
        position: absolute;
        inset: 0;
        background: var(--md-sys-color-surface);
        opacity: 0.95;
    }

    label {
        .state-layer();
        @state-color: var(--md-sys-color-primary);
        .surface-tint();

        font-family: 'Material Symbols Rounded';
        font-size: 24px;
        line-height: 1;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;

        height: 48px;
        min-width: 360px;
        max-width: 720px;
        border-radius: 8px;
        color: var(--md-sys-color-outline);

        display: grid;
        grid: 1fr / 48px 1fr;
        align-items: center;
        justify-items: center;

        input {
            position: absolute;
            inset: 0;
            color: var(--md-sys-color-on-surface);
            padding-left: 48px;
            border: none;
            background: none;
            outline: none;
            border-radius: inherit;
            z-index: -1;
            transition: all 0.2s ease-in-out;
            .body-large();

            &::placeholder {
                color: var(--md-sys-color-outline-variant);
            }

            &:not(:placeholder-shown),
            &:focus {
                background: var(--md-sys-color-surface);
                .elevation-level2()
            }

            .avatar {
                width: 30px;
            }
        }
    }
}

footer {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
    border-top: 1px solid var(--md-sys-color-outline-variant);
    min-height: 80px;
    margin-top: 40px;
}

main {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    min-height: 100vh;
    padding: 72px 0 8px 8px;
    position: relative;
}
main.lists + header {
    height: 104px;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    color: var(--md-sys-color-on-surface-variant);
}

/* Content ------------------------------------------------------------------------------------------------------------------------- */
.tabs {
    position: fixed;
    top: 56px;
    left: 80px;
    right: 16px;
    height: 48px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    justify-items: center;
    padding-left: 32px;
    border-bottom: 1px solid var(--md-sys-color-surface-variant);
    z-index: 1;

    a {
        color: var(--md-sys-color-on-surface-variant);
        .title-small();
        text-decoration: none;
        position: relative;
        display: flex;
        align-items: center;
    }

    a.tab-active {
        color: var(--md-sys-color-primary);

        &::before {
            content: '';
            position: absolute;
            background: var(--md-sys-color-primary);
            height: 3px;
            border-radius: 3px 3px 0 0;
            width: 100%;
            bottom: 0;
        }
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    justify-items: center;
    gap: 8px;
    opacity: 1;
    transition: opacity 0.2s ease-in;
    padding-top: 48px;
}

.cards.hidden {
    opacity: 0;
}

.card {
    display: grid;
    grid: 285px 40px 20px / 65px 125px;
    gap: 0;

    img {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        box-shadow:
            0px 1px 2px rgba(0, 0, 0, 0.15),
            0px 1px 3px 1px rgba(0, 0, 0, 0.1);
    }

    svg {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        justify-self: center;
        align-self: end;
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));

        &.low-votes {
            filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.4)) grayscale(1);
        }
    }

    .rating-text {
        font-family: 'Oxygen', sans-serif;
        font-size: 21px;
        font-weight: 700;
        fill: white;
    }

    .title,
    .name {
        .body-small();
        line-height: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        span:nth-child(1) {
            color: var(--md-sys-color-on-surface);
        }

        span:nth-child(2) {
            color: var(--md-sys-color-outline-variant);
        }
    }
    .title {
        grid-column: 2 / -1;
        grid-row: 2 / 4;
        padding: 8px 4px;
        gap: 4px;
    }
    .name {
        grid-column: 1 / -1;
        grid-row: 2 / 4;
        padding: 4px;

        span:nth-child(1) {
            .body-large()
        }
    }
}