* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: none;
}

a {
    text-decoration: none;
}

.icons-hidden .material-symbols-rounded {
    opacity: 0;
    width: 0;
    transition: opacity 0.2s ease-in, width 0.2s linear;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--md-sys-color-primary);
    background-clip: content-box;
    border: 3px;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

body {
    margin: 0;
    padding: 0 8px 0 0;
    overflow: overlay;
    background: var(--md-sys-color-background);
    // display: grid;
    // grid-template-columns: 80px 1fr;
    // grid-auto-rows: min-content;

    &::before {
        content: '';
        position: fixed;
        height: 100vh;
        inset: 0;
        background-color: var(--md-sys-color-primary);
        opacity: 0.05;
        z-index: -1;
    }
}

#root {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-auto-rows: min-content;
    align-content: space-between;
    min-height: 100vh;
}

.cpi {
    position: fixed;
    inset: 0 0 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: var(--md-sys-color-primary);
    z-index: 100;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    color: var(--md-sys-color-on-surface-variant);
}

@size: {
    mobile: 320px;
    tablet: 1024px;
}

/* Main ---------------------------------------------------------------------------------------------------------------------------- */
main {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    min-height: 100vh;
    padding: 72px 0 8px 8px;
    position: relative;

    @media (max-width: @size[tablet]) {
        grid-column: 1 / -1;
        min-width: 1024px;
    }
}

main.lists+header {
    height: 112px;
}

/* Header -------------------------------------------------------------------------------------------------------------------------- */
header {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    height: 64px;
    display: grid;
    grid: 64px / 1fr;
    align-items: center;
    padding-left: 88px;
    backdrop-filter: blur(5px);
    transition: top 0.2s linear;
    z-index: 1;

    &.up {
        top: 0px;
    }

    &.down {
        top: -64px;
    }

    &>.overlay {
        @state-color: var(--md-sys-color-primary);
        .state-layer();
        .surface-tint();

        position: absolute;
        inset: 0;
        background: var(--md-sys-color-surface);
        opacity: 0.9;
    }

    label {
        @state-color: var(--md-sys-color-primary);
        .state-layer();

        &::before {
            opacity: 0.08;
        }

        font-family: 'Material Symbols Rounded';
        font-size: 24px;
        line-height: 1;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;

        height: 48px;
        min-width: 360px;
        max-width: 720px;
        border-radius: 8px;
        color: var(--md-sys-color-outline);

        display: grid;
        grid: 1fr / 48px 1fr;
        align-items: center;
        justify-items: center;

        input {
            position: absolute;
            width: 100%;
            height: 100%;
            color: var(--md-sys-color-on-surface);
            padding-left: 48px;
            border: none;
            background: none;
            outline: none;
            border-radius: inherit;
            z-index: -1;
            transition: all 0.2s ease-in-out;
            .body-large();

            &::placeholder {
                color: var(--md-sys-color-outline-variant);
            }

            &:not(:placeholder-shown),
            &:focus {
                background: var(--md-sys-color-surface);
                .elevation-level2()
            }

            .avatar {
                width: 30px;
            }
        }
    }
}

/* Logo ---------------------------------------------------------------------------------------------------------------------------- */
.logo {
    position: fixed;
    top: 0;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: opacity 0.2s ease-in-out;
    z-index: 3;

    svg {
        width: 65px;
    }

    @media (max-width: @size[tablet]) {
        height: 64px;
        transition: top 0.2s linear;

        svg {
            width: 50px;
        }

        header.down+& {
            top: -64px;
        }
    }
}

/* Footer -------------------------------------------------------------------------------------------------------------------------- */
footer {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    border-top: 1px solid var(--md-sys-color-surface-variant);
    min-height: 64px;
    margin: 16px 64px;
}

/* Nav ----------------------------------------------------------------------------------------------------------------------------- */
nav {
    .m3-navigation-rail();
    align-content: start;
    padding-top: 92px;
    z-index: 2;
    transition: left 0.2s linear;

    @media (max-width: @size[tablet]) {
        @state-color: var(--md-sys-color-primary);
        .state-layer();
        .surface-tint();

        position: fixed;
        left: -75px;
        background: var(--md-sys-color-surface);

        &:hover {
            left: 0;
        }
    }
}

/* Content ------------------------------------------------------------------------------------------------------------------------- */
.tabs {
    position: fixed;
    top: 64px;
    left: 88px;
    right: 8px;
    height: 48px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    justify-items: center;
    border-bottom: 1px solid var(--md-sys-color-surface-variant);
    z-index: 2;
    transition: top 0.2s linear;

    &.up {
        top: 64px;
    }

    &.down {
        top: 0;
    }

    a {
        color: var(--md-sys-color-on-surface-variant);
        .title-small();
        text-decoration: none;
        position: relative;
        display: flex;
        align-items: center;
    }

    a.tab-active {
        color: var(--md-sys-color-primary);

        &::before {
            content: '';
            position: absolute;
            background: var(--md-sys-color-primary);
            height: 3px;
            border-radius: 3px 3px 0 0;
            width: 100%;
            bottom: 0;
        }
    }
}

// Cards
@import './pages/cards.less';

// Movie Page
@import './pages/movie.less';